@import '../../../../theme/text-utils.scss';
ion-card {
    --background: var(--card-background-color);
    box-shadow: none;
    ion-card-header {
        padding: 0 20px;
        ion-icon {
            background: var(--card-background-color);
            font-size: 36px;
            color: #000000;
        }

        ion-item {
            border-radius: 8px;
            margin: 0;
            --background: var(--card-background-color);
            // --padding-start: 20px;
            // --padding-end: 20px;
            --inner-padding-end: 0;
            --padding-end: 0;
            --padding-start: 0;
            --min-height: 68px;
            border-bottom: 0;
            ion-label {
                --color: var(--app-text-color-dark);
                ion-text {
                    h2 {
                        color: #748a9d;
                    }
                }
                h2 {
                    @extend %text-bold;
                    @extend %text-medium;
                    @extend %text-capitalize;
                }
            }

            ion-icon {
                background: var(--card-background-color);
                font-size: 36px;
                color: #000000;
                &.chevron {
                    font-size: 24px;
                    color: #748a9d;
                }
            }
        }
        p {
            margin: 0;
            color: #000000;
            @extend %text-medium;
            @extend %text-normal;
            @extend %text-capitalize;
            &.aviv-registry {
                text-transform: none !important;
                @extend %text-medium;
                @extend %text-bold;
            }
        }
    }
    ion-card-content {
        // margin-top: 20px;
        border-top: 1px solid rgba(var(--ion-color-primary-contrast-rgb), 0.1);
        ion-item {
            --background: var(--card-background-color);
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: 68px;
            ion-checkbox {
                --background: var(--card-background-color);
                --background-checked: var(--card-background-color);
                --border-color: #000000;
                --border-color-checked: #000000;
                --border-radius: 2px;
                --border-style: solid;
                --border-width: 1px;
                --checkmark-color: var(--ion-color-primary);
                --checkmark-width: 2px;
                --size: 25px;
                &::part(mark) {
                    width: 25px;
                }
            }

            ion-label {
                --color: #748a9d;
                @extend %text-normal;
                @extend %text-medium;
                &.emergency {
                    color: red;
                    font-style: italic;
                }
            }
        }
    }
}
ion-grid {
    .header {
        color: #748a9d;
        @extend %text-medium;
        @extend %text-normal;
    }
    .subtitle {
        color: #000000;
        @extend %text-small;
        @extend %text-bold;
    }
    .title {
        color: #748a9d;
        @extend %text-small;
        @extend %text-normal;
    }
    .description {
        color: #000000;
        @extend %text-medium;
        @extend %text-bold;
    }
    ion-icon {
        background: var(--card-background-color);
        font-size: 36px;
    }
    ion-input {
        min-height: 50px;
        font-size: 20px;
        --background: #d9eef7;
        --padding-bottom: 0;
        --padding-end: 0;
        --padding-start: 4px;
        --padding-top: 0;
        --placeholder-color: #000000;
        color: #000;
    }
    ion-button {
        display: inline-block;
        margin: 0;
        min-height: 50px;
        min-width: 50px;
        --padding-bottom: 0;
        --padding-end: 0;
        --padding-start: 0;
        --padding-top: 0;
        ion-icon {
            background: transparent;
            color: #000000;
            font-size: 24px;
        }
        --background: #60fcd2;
        --border-radius: 4px;
    }
}
ion-item-divider {
    --background: var(--card-background-color);
    --color: #000000;
    @extend %text-large;
    @extend %text-bold;
}

.autoCap {
    text-transform: uppercase;
}
