@import '../../../../theme/text-utils.scss';
.mapcontainer {
    width: 100%;
    height: 75%;
}
.infobox {
    background-color: var(--card-background-color);
    .detection-position {
        background-color: #dbffd9;
        border-radius: 30px 0px;
        p {
            color: #748a9d;
            margin-top: 0;
            margin-bottom: 2px;
            @extend %text-smaller;
            @extend %text-normal;
        }
        ion-text {
            h2 {
                margin-top: 2px;
                margin-bottom: 2px;
                color: #1d1d1d;
                @extend %text-medium;
                @extend %text-bold;
            }
        }
        ion-icon {
            background: transparent;
            color: #000000;
            padding-inline-start: 20px;
            font-size: 36px;
        }
    }
}
:host-context(html.plt-tablet) {
    ion-grid {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}
