<ion-grid>
    <ion-row *ngIf="isEditable" class="detection-toolbar ion-no-padding">
        <ion-col>
            <ion-button fill="clear" (click)="modify()" size="small">
                <ion-icon name="iuffi-modify" slot="start"></ion-icon>
                <p>{{ 'MODIFY' | translate }}</p>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="delete()" fill="clear" size="small">
                <ion-icon name="iuffi-delete" slot="start"></ion-icon>
                <p>{{ 'DELETE' | translate }}</p>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid class="detection-position ion-no-padding">
    <ion-row class="ion-padding-vertical">
        <ion-col size="2">
            <ion-icon name="iuffi-time"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-padding-start">
            <p>{{ 'START_TIME' | translate }}</p>
            <ion-text>
                <h2>{{ sample.dataOraInizio | date: 'HH:mm' }}</h2>
            </ion-text>
        </ion-col>
        <ion-col size="2" *ngIf="sample.dataOraFine">
            <ion-icon name="iuffi-time"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-padding-start" *ngIf="sample.dataOraFine">
            <p>{{ 'END_TIME' | translate }}</p>
            <ion-text>
                <h2>{{ sample.dataOraFine | date: 'HH:mm' }}</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="2">
            <ion-icon name="iuffi-position"></ion-icon>
        </ion-col>
        <ion-col class="ion-padding-start">
            <p>{{ 'GPS_COORD' | translate }}</p>
            <ion-text>
                <h2>
                    {{ sample.latitudine | number: '1.2-7' }} -
                    {{ sample.longitudine | number: '1.2-7' }}
                </h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="comune" class="ion-padding-vertical">
        <ion-col size="2">
            <ion-icon name="iuffi-municipality"></ion-icon>
        </ion-col>
        <ion-col class="ion-padding-start">
            <p>{{ 'MUNICIPALITY' | translate }}</p>
            <ion-text>
                <h2>
                    {{ comune?.nome }}
                </h2>
            </ion-text>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-card>
    <ion-card-header>
        <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-padding-top">
                <ion-col class="title">{{ 'PLANT_SPECIES' | translate }}</ion-col>
            </ion-row>
            <ion-row *ngIf="sample.idSpecieVegetale">
                <ion-col>
                    <ion-grid class="ion-no-padding" fixed>
                        <ion-row class="ion-align-items-center ion-padding-vertical">
                            <ion-col size="2" class="ion-text-left">
                                <ion-icon name="iuffi-plant-species"></ion-icon>
                            </ion-col>
                            <ion-col size="6">
                                <ion-text color="primary">
                                    <p class="inspected-area">{{ plantSpecies.nomeVolgare }}</p>
                                </ion-text>
                            </ion-col>
                            <ion-col class="ion-text-right"> </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>
</ion-card>

<ion-card *ngIf="harmfulOrganismsAdded.length > 0">
    <ion-card-header>
        <ion-item class="ion-margin" lines="none">
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h2>{{ 'HARMFUL_ORGANISM' | translate }}</h2>
                </ion-text>
            </ion-label>
            <ion-icon slot="start" name="iuffi-harmful-organisms"></ion-icon>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item lines="none" *ngFor="let entry of harmfulOrganismsAdded">
                <ion-label [ngClass]="{ emergency: entry.flagEmergenza === 'S' }" class="ion-text-capitalize">{{
                    entry.nomeLatino
                }}</ion-label>
                <ion-icon *ngIf="entry.euro === 'S'" slot="end" name="iuffi-euro"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
        <ion-grid class="ion-no-padding" fixed>
            <ion-row class="ion-padding-top">
                <ion-col class="title">{{ 'SAMPLE_TYPE' | translate }}</ion-col>
            </ion-row>
            <ion-row *ngIf="sample.tipoCampione">
                <ion-col>
                    <ion-grid class="ion-no-padding" fixed>
                        <ion-row class="ion-align-items-center ion-padding-vertical">
                            <ion-col size="2" class="ion-text-left">
                                <ion-icon name="iuffi-sampling-type"></ion-icon>
                            </ion-col>
                            <ion-col size="6">
                                <ion-text color="primary">
                                    <p class="inspected-area">{{ sample.tipoCampione }}</p>
                                </ion-text>
                            </ion-col>
                            <ion-col class="ion-text-right"> </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>
</ion-card>

<photo-gallery logger="SamplingDetailPage" [editable]="false" [photos]="photos"></photo-gallery>

<ion-item lines="none" class="note">
    <ion-label class="ion-text-wrap">
        <ion-text>
            <h2>{{ 'NOTE' | translate }}</h2>
        </ion-text>
        <p>{{ sample.note }}</p>
    </ion-label>
</ion-item>
