@import '../../../../theme/text-utils.scss';

ion-card {
    --background: var(--card-background-color);
    box-shadow: none;
    border-radius: 30px 0px;
    margin-top: 20px;
    margin-bottom: 20px;

    ion-card-content {
        background: var(--card-background-color);
        padding: 8px 20px 16px;
        ion-item {
            --background: var(--card-background-color);
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: 68px;
            ion-checkbox {
                --background: var(--card-background-color);
                --background-checked: var(--card-background-color);
                --border-color: #000000;
                --border-color-checked: #000000;
                --border-radius: 2px;
                --border-style: solid;
                --border-width: 1px;
                --checkmark-color: var(--ion-color-primary);
                --checkmark-width: 2px;
                --size: 25px;
                &::part(mark) {
                    width: 25px;
                }
            }

            ion-label {
                --color: #748a9d;
                @extend %text-normal;
                @extend %text-medium;
                &.emergency {
                    color: red;
                    font-style: italic;
                }
            }
        }
    }
}

.search-bar {
    ion-searchbar {
        --background: var(--card-background-color);
        --border-radius: 6px;
    }

    ion-icon {
        background: #ffffff;
        font-size: 36px;
    }
}

ion-footer {
    background-color: var(--app-background-color);
    .center {
        margin-left: 4%;
        margin-right: 4%;
    }
}
.pulse {
    animation: shadow-pulse 1.2s infinite;
}

@keyframes shadow-pulse {
    0% {
        border-radius: 34px;
        box-shadow: 0 0 0 0px rgba(42, 113, 94, 0.2);
    }
    100% {
        border-radius: 34px;
        box-shadow: 0 0 0 28px rgba(42, 113, 94, 0);
    }
}
